---
import { getCollection } from "astro:content";
import Post from "./Post.astro";
// TODO: code is repeated in [slug].astro
const posts = await getCollection("blog", ({ data }) => {
    return !data.isDraft && data.date < new Date();
});
---
<div class="posts">
    {posts.map(post => (
            <Post imageSrc={post.data.image.src}
                  title={post.data.title}
                  date={post.data.date}
                  href={`${post.collection}/${post.slug}`} />
        ))}
</div>

<style>
    .posts{
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 28rem), 1fr));
        width: 90%;
        max-width: var(--container-max-width);
        margin: 0 auto;
    }
</style>
